<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="checklist-element">
   <template>
     <style>
       .task{
         display: flex;
         align-items: center;
       }
       paper-input{
         display: inline-block;
       }
       .rojo{
        color: magenta;
       }
     </style>


   <h1 class$="{{claseColor}}">{{titulo1}}</h1>
   <!-- cada item de {{tasks}} se llamara {{task}}-->
   <dom-repeat
     items="{{tasks}}"
     as="task"
     filter="isNotCompleted"
     observe="completed"
   >
     <template is="dom-repeat">
       <div class="todo_element">
         <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
         <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
       </div>
     </template>
   </dom-repeat>

   <h1>{{titulo2}}</h1>
   <dom-repeat
     items="{{tasks}}"
     as="task"
     filter="isCompleted"
     observe="completed"
   >
     <template is="dom-repeat">
       <div class="todo_element">
         <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
         <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
       </div>
     </template>
   </dom-repeat>
   <!--Add completed stuff-->
   <paper-button on-click="agregarTask">Agregar</paper-button>


   </template>

   <script>
       /**
        * `checklist-element`
        * Elemento checkList en polymer
        *
        * @customElement
        * @polymer
        * @demo demo/index.html
        */
       class ChecklistElement extends Polymer.Element {
           static get is() {
               return 'checklist-element';
           }
           static get properties() {
               return {
                   tasks: {
                       type: Array,
                       value: () => []
                   },
                   titulo1: {
                    type: String,
                    value: "Tareas por Realizar"
                   },
                   titulo2: {
                    type: String,
                    value: "Tareas Realizadas",
                    readOnly: true
                   },
                   claseColor:{
                    type: String,
                    value: "rojo"
                   }
               };
           }

           agregarTask() {
               const newTask = {
                   name: '',
                   completed: false
               };
               this.push('tasks', newTask);
           }
           isNotCompleted(task) {
               return !task.completed;
           }
           isCompleted(task) {
            return task.completed;
           }
       }

       window.customElements.define(ChecklistElement.is, ChecklistElement);
   </script>
</dom-module>